# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ingore Folder
build
node_modules
.vscode
dist
yarn.lock
.github
npm
.eslintrc
.prettierignore
*.node
package-lock.json

#Added by Electron
/nsis
/Release
/out